ul {
    list-style-type: none;
}

li{
    display: inline;
    padding: 1rem;
}

body{
    background-color: #3A5A40; 
    font-family: 'lucida console', Monospace;
    text-align: center;
}

a{
    color: #0081a7;
}

a:hover{
    color: #f07167;
}
.contatos img{
    height: 100px;
    border-radius: 50px;
    transition: transform 0.2s;
    padding: 20px;
}
.contatos img:hover{
    transform: scale(1.05);
}
.contatos{
    display: flex;
    align-items: center;
}



/* 3A5A40 2D6A4F 40916C 588157 */ 