ul {
    list-style-type: none;
}

li{
    display: inline;
    padding: 1rem;
}

body{
    background-color: #3A5A40; 
    font-family: 'lucida console', Monospace;
    text-align: center;
}

a{
    color: #0081a7;
}

a:hover{
    color: #f07167;
}
.galeria img{
    width: 300px;
}
.galeria-img{
    
}
.galeria{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* 3A5A40 2D6A4F 40916C 588157 */ 